.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}




button {
    padding: 20px;
    background-color: aquamarine;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}
button:hover {
    background-color: aqua
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item-locked {
    background-color: rgba(255, 255, 255, 0.8);
    color:cadetblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item:hover {
    background-color: rgba(192, 116, 116, 0.8);
}
.grid-item-selected {
    background-color: rgba(116, 116, 116, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}